

<head>
    <link href="~/css/layout.css" rel="stylesheet"/>
</head>
<body>
    <h1>About Us</h1>
    <p>
        Welcome to Button Co., the premier destination for high-quality buttons of all shapes, sizes, and designs. Our company was
        founded with the mission to provide our customers with the best possible button-buying experience, offering a wide range of products at affordable prices.
    </p>

    <p>
        Our team is made up of dedicated professionals who are passionate about buttons and committed to providing exceptional customer service.
        We believe that our success is rooted in our commitment to quality, reliability, and innovation. We are always looking for ways to improve our
        products and services, and we welcome feedback from our customers.
    </p>

    <img src="~/img/button.jpeg" />

    <p>
        Whether you're looking for buttons for your sewing project, crafting needs, or just to add a touch of style to your outfit, Button Selling
        Company has got you covered. We offer a wide range of buttons, including metal, plastic, wood, and novelty designs.
    </p>

    <p>
        Thank you for choosing Button Selling Company. We look forward to serving you and helping you find the perfect buttons for your needs.
        Please don't hesitate to contact us if you have any questions or concerns.
    </p>
   
</body>
